.main-menu .container {
    background-color: chartreuse;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,24,121,1) 35%, rgba(0,212,255,1) 100%);
    
}
.main-menu__p {
    color: black;
}

.list-menu a{
    text-decoration: none;
    color: rgb(43, 0, 83);
}

.list-menu a:hover{
    text-decoration: underline;
    color: green;
    transition: all .3s;

}
